html, input {
  font: 22px/30px "iosevka aile";
  background: black;
  color: ivory;
}

tt {
  font-family: "iosevka aile";
  font-style: normal;
  color: #ccf;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

table:hover,
lisp-list:hover,
lisp-symbol:hover,
lisp-string:hover,
lisp-number:hover {
  background: rgba(0, 0, 255, 0.1);
  cursor: pointer;
}

lisp-native { font-style: italic; }

lisp-list, table {
  min-height: 1.3em;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0 0.5rem;
  margin: 0.3rem 0.0rem;
}

lisp-error { color: #faa; }

lisp-env, lisp-object { display: inline-flex; }

lisp-input:before { content: "» "; }
/* lisp-output:before { content: "! "; } */
lisp-result:before { content: "« "; }

lisp-input { opacity: 0.7; }

lisp-list {
  display: inline-flex;
  flex-wrap: wrap;
  background: rgba(227, 255, 233, 0.13);
  box-shadow: 1px 1px 0 0 rgba(51, 102, 136, 0.5);
}

lisp-list {
  align-items: center;
}

lisp-history {
  display: flex;
  flex-direction: column;
}

table {
  display: inline-table;
  background: rgba(150, 150, 255, 0.1);
  border-style: dotted;
}

td:first-child {
  padding-right: 1em;
}

lisp-symbol {
  text-transform: lowercase;
  letter-spacing: -0.04em;
}

lisp-string {
  margin: 0 0.5rem 0 0;
}
lisp-string:before {
  content: "“";
}
lisp-string:after {
  content: "”";
}

lisp-symbol:not(:last-child),
lisp-number:not(:last-child) {
  margin: 0 0.5rem 0 0;
}

lisp-symbol.special {
  font-weight: bold;
}

* { box-sizing: border-box; }

[data-call="lisp:do"] { flex-direction: column; align-items: start; }
[data-call="lisp:define-function"] > :nth-child(4) { width: 100%; }
[data-call="lisp:let"] > :nth-child(3) { width: 100%; }

[data-call="lisp:if"] > :nth-child(3) { width: 100%; }
[data-call="lisp:if"] > :nth-child(4) { width: 100%; }

td { vertical-align: top; }

lisp-list:not(:last-child) { margin-right: .5rem; }

[data-point="yes"] { background: rgba(0, 255, 0, 0.1); }

body { height: 100vh; }

lisp-repl {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 4px solid #334;
}

input {
  width: 100%;
  background: black;
  color: ivory;
  outline: 0;
  border: 0;
  border-top: 4px solid #334;
  line-height: 2rem;
  padding: 0 1rem;
}

lisp-history {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: scroll;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

lisp-buffer {
  display: flex;
  flex-wrap: wrap;
}

lisp-cursor {
  background-color: ivory;
  /* box-shadow: 0px 0px 10px 10px rgba(100, 102, 136, 0.5); */
  border-radius: 5px;
  width: 10px;
  height: 10px;
  margin: .25em;
}

.selected {
  border: 2px solid ivory;
  /* background-color: #448; */
  padding-left: .5em;
  padding-right: .5em;
  font-size: 28px;
  line-height: 32px;
  /* box-shadow: 0px 0px 10px 10px rgba(100, 102, 136, 0.5); */
}
